<?xml version="1.0" encoding="UTF-8"?>
<webservicerank-configuration><!--This contains the configuration information--><WordNet-dir><chrai>C:/WordNet-3.0/dict</chrai></WordNet-dir><Service-Database><sd-driver>com.mysql.jdbc.Driver</sd-driver><sd-host>jdbc:mysql://localhost:3306/webservicerank</sd-host><sd-port>3306</sd-port><sd-username>root</sd-username><sd-password /></Service-Database><Ontology-repository><ont-driver>com.mysql.jdbc.Driver</ont-driver><ont-host>jdbc:mysql://localhost</ont-host><ont-port>3306</ont-port><ont-DBType>MySQL</ont-DBType><ont-username>root</ont-username><ont-password></ont-password></Ontology-repository></webservicerank-configuration>
